@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

body {
  margin: 0;
  padding: 0;
  padding-top: 4rem;
  font-family: "Titillium Web";
  background-color: $inject-black;
  color: $inject-tint;
  @include desktop {
  background-size: 60%;
  background-position: 50% 40%
  }
}
a {
  text-decoration: none;
}
